Original Dataset From: Dataset from [cdc.gov](https://www.cdc.gov/reproductivehealth/data_stats/abortion.htm)
Cleaned and Combined Dataset In: `Data Cleaning/cdc dataset cleaning and aggregation.ipynb`

In [175]:
import pandas as pd

In [186]:
df = pd.read_pickle('../data/cdc_2010-2019.pkl')
df

,state_area_of_service,state_area_of_mothers_residence,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,Alabama,8587.0,7989.0,7464.0,6997.0,6650.0,5124.0,5525.0,5223.0,5455.0,4969.0
1,Alaska,Alabama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arizona,Alabama,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,Arkansas,Alabama,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,California**,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2491,Virginia,Out-of-state (exact residence unknown),0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
2492,Washington,Out-of-state (exact residence unknown),0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,0.0
2493,West Virginia,Out-of-state (exact residence unknown),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2494,Wisconsin,Out-of-state (exact residence unknown),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2495,Wyoming,Out-of-state (exact residence unknown),0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0