In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/osf/Global Abortion Incidence Dataset.csv')
df

,country,iso,yearstart,yearend,region,subregion,numberofabortions,abortionrate,perc_p_ending_in_a,spontaneous,datatype,datasource,complete,classification,modelused,marriedonly,notes
0,Albania,8.0,1990,1990,Europe and Northern America,Southern Europe,17400.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
1,Albania,8.0,1991,1991,Europe and Northern America,Southern Europe,20300.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
2,Albania,8.0,1992,1992,Europe and Northern America,Southern Europe,18700.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
3,Albania,8.0,1993,1993,Europe and Northern America,Southern Europe,25100.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
4,Albania,8.0,1994,1994,Europe and Northern America,Southern Europe,31622.0,NaN,NaN,Yes,Official Statistics,UNSD,Incomplete,Below survey of women,Yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,Scotland,NaN,2015,2015,Europe and Northern America,Northern Europe,12118.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3336,Scotland,NaN,2016,2016,Europe and Northern America,Northern Europe,12100.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3337,England and Wales,NaN,2016,2016,Europe and Northern America,Northern Europe,185596.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN
3338,Scotland,NaN,2017,2017,Europe and Northern America,Northern Europe,12196.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3339,England and Wales,NaN,2017,2017,Europe and Northern America,Northern Europe,189859.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN

In [5]:
len(df['country'].unique())

108

In [6]:
official = df[df['datatype'] == 'Official Statistics']
official

,country,iso,yearstart,yearend,region,subregion,numberofabortions,abortionrate,perc_p_ending_in_a,spontaneous,datatype,datasource,complete,classification,modelused,marriedonly,notes
0,Albania,8.0,1990,1990,Europe and Northern America,Southern Europe,17400.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
1,Albania,8.0,1991,1991,Europe and Northern America,Southern Europe,20300.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
2,Albania,8.0,1992,1992,Europe and Northern America,Southern Europe,18700.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
3,Albania,8.0,1993,1993,Europe and Northern America,Southern Europe,25100.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
4,Albania,8.0,1994,1994,Europe and Northern America,Southern Europe,31622.0,NaN,NaN,Yes,Official Statistics,UNSD,Incomplete,Below survey of women,Yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,Scotland,NaN,2015,2015,Europe and Northern America,Northern Europe,12118.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3336,Scotland,NaN,2016,2016,Europe and Northern America,Northern Europe,12100.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3337,England and Wales,NaN,2016,2016,Europe and Northern America,Northern Europe,185596.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN
3338,Scotland,NaN,2017,2017,Europe and Northern America,Northern Europe,12196.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3339,England and Wales,NaN,2017,2017,Europe and Northern America,Northern Europe,189859.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN

In [8]:
official = official.drop_duplicates()
official

,country,iso,yearstart,yearend,region,subregion,numberofabortions,abortionrate,perc_p_ending_in_a,spontaneous,datatype,datasource,complete,classification,modelused,marriedonly,notes
0,Albania,8.0,1990,1990,Europe and Northern America,Southern Europe,17400.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
1,Albania,8.0,1991,1991,Europe and Northern America,Southern Europe,20300.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
2,Albania,8.0,1992,1992,Europe and Northern America,Southern Europe,18700.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
3,Albania,8.0,1993,1993,Europe and Northern America,Southern Europe,25100.0,NaN,NaN,No,Official Statistics,Henshaw 2001,Incomplete,Below survey of women,Yes,NaN,NaN
4,Albania,8.0,1994,1994,Europe and Northern America,Southern Europe,31622.0,NaN,NaN,Yes,Official Statistics,UNSD,Incomplete,Below survey of women,Yes,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,Scotland,NaN,2015,2015,Europe and Northern America,Northern Europe,12118.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3336,Scotland,NaN,2016,2016,Europe and Northern America,Northern Europe,12100.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3337,England and Wales,NaN,2016,2016,Europe and Northern America,Northern Europe,185596.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN
3338,Scotland,NaN,2017,2017,Europe and Northern America,Northern Europe,12196.0,NaN,NaN,No,Official Statistics,Information Services Division Scotland,Complete,NaN,Yes,NaN,NaN
3339,England and Wales,NaN,2017,2017,Europe and Northern America,Northern Europe,189859.0,NaN,NaN,No,Official Statistics,Department of Health and Social Care,Complete,NaN,Yes,NaN,NaN

In [11]:
f"{official['numberofabortions'].sum():,} since {official['yearstart'].min()}"

'598,575,465.0 since 1989'